[Unit]
Description=MercadoLivre App
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/mercadolivre-app
Environment=PATH=/usr/bin/python3.11
ExecStart=/usr/bin/python3.11 -m gunicorn --bind 127.0.0.1:5000 wsgi:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
